* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, ul, h1 {
  font-family: avenir, verdana, sans-serif;
  margin: 0px;
}

/* inital link, unvisited link, active link */
a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: grey;
  text-decoration: none;
}

.main-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;  
  margin: 0 auto 135px auto;
}

.main-header {  
  padding: 50px 20px 15px;
  position: absolute;
  top: 0;
  left: 0;  
  width: 100%;
}

.main-header-h1 {
  font-weight: 100;
}

.navigation-bar {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px;
}

.logo {
  float: left;
  max-width: 100px;
}

.navigation-bar ul {
  float: right;
  width: 285px;
  background-color: white;
  display: inline;
}

.navigation-bar li {
  display: inline-block;
  margin-right: 20px;
  font-weight: 100;
  font-size: 12px;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.hashtag_info {
  padding: 15px;
  font-size: 12px;
  font-weight: 100px;
}

.cards {
  width: 100%;
  padding: 15px;
}

.card {
  position: relative;
  border-radius: 5px;
  /* 5px rounded corners */  
  background: #FAF8F5;
  padding: 15px;  
  float: left;
  width: calc(50% - 35px);  
  margin: 15px;
}

.card:nth-child(odd) {
  top: 135px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.center {
  display: block;
  border-radius: 5px;
  /* 5px rounded corners */
}

.hashtag_info {
  width: 100%;
  background: white;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  text-align: center;
  padding: 1em 0;
}

/*Responsive single column under 650px*/
@media (max-width: 650px) {
  .card {
    width: calc(100% - 35px);  
    top: 135px;
  }
}